.idea/
portfolio website/__pycache__/__init__.cpython-313.pyc
portfolio website/__pycache__/project.cpython-313.pyc
portfolio website/__pycache__/project.cpython-312.pyc
portfolio website/__pycache__/project.cpython-312.pyc
