{% extends 'base.html' %}
{% block content %}
<main class="main main--content">
    <dl>
        <div class="contact">
            <dt>Email</dt>
            <dd class="contact__details">
                <a class="contact__link" href="mailto:salmanahmad111499@gmail.com">
                    Salman [at] gmail.com
                </a>
            </dd>
        </div>
        <div class="contact">
            <dt>Github</dt>
            <dd class="contact__details">
                <a class="contact__link" href="https://www.github.com/ZED149">
                    ZED149
                </a>
            </dd>
        </div>
        <div class="contact">
            <dt>Linkedin</dt>
            <dd class="contact__details">
                <a class="contact__link" href="https://www.linkedin.com/salmanahmad149">
                    Salman [at] Linkedin.com
                </a>
            </dd>
        </div>
    </dl>
</main>
{% endblock %}